/*. #main-navbar = <nav id="main-navbar">*/

#main-navbar {
  overflow: hidden;
  background-color:blue;
  width:100%
}

#main-navbar a {
  left:50%
  float: left;
  color: #fff;
   position: relative;
  padding: 10px 20px;
  text-decoration: none;
}

#main-navbar a:hover {
  background-color: #000000;
  color: #fff;
}

#main-navbar a.active {
  background-color: #0000ff;
  color: #fff;
}
#nav-contianer ul li{
  	color: #fff;
	text-decoration: overline;
  	display: block;
	right: 50%

}
